.title {
  font-size: 3vh;
  font-weight: 600;
  padding: 4vh;
  text-align: center;
}

.list-employees {
  align-items: center;
  padding: 1.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vh;
}

.employee {
  border: 1px solid gray;
  padding: 1.5vh;
  height: 100%;
  margin-bottom: 3vh;
}

.employee > div {
  margin: 1vh;
}

.employee > div > p {
  font-weight: 600;
  margin-bottom: 0.2vh;
}

.register {
  display: flex;
  flex-direction: column;
}

.register > div > input {
  width: 80%;
}

.register > div > button {
  width: 16%;
  height: 100%;
}

button {
  padding: 1vh;
  font-weight: 600;
}

.register > input, .register > div > input {
  padding: 1vh;
  margin: 1vh;
}

.register > button {
  margin: 1vh;
}

.list-of-sectors {
  display: flex;
  flex-flow: wrap;
}

.list-of-sectors span {
  border: 1px solid gray;
  padding: 1vh 1vh;
  margin: 1vh;
}

.button-update, .button-remove {
  margin: 1vh;
}